/* color palette from <https://github.com/vuejs/theme> */
/* 定义颜色 */
:root {
  /* 主题色、副色 */
  --PRMARY-COLOR: #1677ff;
  --PRMARY-DARK-COLOR: #091b85;
  --SECONDARY-COLOR: #fff;
  --SECONDARY-DARK-COLOR: #ffffffa6;

  /* 背景色 */
  --BACKGROUND-LIGHT: #f7f7f7;
  --BACKGROUND-LIGHT-2: #f9f9f9;
  --BACKGROUND-DARK: #202124;
  --BACKGROUND-DARK-2: #3f3f40;

  /* 字体色 */
  --TEXT-COLOR: #333333;
  --TEXT-COLOR-2: #333333CC;
  --TEXT-COLOR-3: #33333380;
  --TEXT-COLOR-DARK: #ffffff;
  --TEXT-COLOR-DARK-2: #ffffffCC;
  --TEXT-COLOR-DARK-3: #ffffff80;
}

/* 定义使用 */
:root {
  --text-primary: var(--TEXT-COLOR);
  --text-secondary: var(--TEXT-COLOR-2);
  --text-disabled: var(--TEXT-COLOR-3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: var(--TEXT-COLOR-DARK);
    --text-secondary: var(--TEXT-COLOR-DARK-2);
    --text-disabled: var(--TEXT-COLOR-DARK-3);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-primary);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}